*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

header{
    background-color: white;
}

header img{
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    width: 800px;
    
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}

.add{
    background-color: white;
}

.add-task{
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color:#47adf1;
    padding: 7px;
    border-radius: 5px;
    color: white;
    border: none;
}

.add-section{
    padding: 7px;
    border-radius: 5px;
    background-color: white;
    color: #ccd2d6;
    border-color: #ccd2d6;
}

.list{
    margin-top: 2px;
    background-color: white;
    padding-left: 50px;
    padding-top: 40px;
}

.check, .cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.check{
    color: #65c0a9;
}

.cross{
    color: red;    
}


.task{
    display: inline-block;
    padding: 10px 0;
}

.tag{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
    font-size: small;
}

.tag-blue{
    background-color: #47adf1;
}

.tag-violet{
    background-color: #9c72e4;
}

.tag-green{
    background-color: #64c0a9;
}

.tag-orange{
    background-color: #f29e33;
}

.tag-rose{
    background-color: #d863a1;
}

.tag-lightgreen{
    background-color: #b0c926;
}